<a href="https://colab.research.google.com/github/SRC-07/EstructuraDeDatos_SANTIAGOROJASCARDENAS/blob/main/Taller_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SANTIAGO ROJAS CARDENAS - ID: 927171

ESTRUCTURA DE DATOS - NRC: 69131

**TALLER TUPLAS**

1. Crea una tupla con los siguientes elementos: "apple", "banana", "cherry", "date", "fig", "grape". Imprime la tupla y el número de elementos que contiene.

In [ ]:
fruits = ("apple","banana", "cherry","date","fig","grape")
print(fruits)

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')

2. Dada la tupla fruits = ("apple", "banana", "cherry", "date", "fig", "grape"), accede e imprime el tercer elemento de la tupla.

In [ ]:
fruits [2]

'cherry'

3. Dada la tupla colors = ("red", "green", "blue"), desempaqueta sus valores en tres variables y luego imprime cada variable.

In [ ]:
colors=("red", "green", "blue")
print(r)
print(g)
print(b)

red
green
blue

4. Crea dos tuplas, una con los números (1, 2, 3) y otra con los números (4, 5, 6). Concatenálas en una sola tupla y muestra el resultado

In [ ]:
a =(1,2,3)
b =(4,5,6)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6)

5. Crea una tupla con el elemento "repeat" y repítela 4 veces. Imprime el resultado.

In [ ]:
repetir = ("repeat",)
repetir *= 3
print(repetir)

('repeat', 'repeat', 'repeat')

6. Dada la tupla numbers = (10, 20, 30, 40, 50), utiliza un bucle for para iterar sobre la tupla e imprimir cada número.

In [ ]:
numbers = (10, 20, 30, 40, 50)
for number in numbers:
  print(number)

10
20
30
40
50

7. Crea una tupla que contenga otras dos tuplas: tuple1 = (1, 2, 3) y tuple2 = ("a", "b", "c"). Imprime la tupla anidada.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 =("a","b","c")
tuple3 = (tuple1,tuple2)
print(tuple3)

((1, 2, 3), ('a', 'b', 'c'))

8. Dada la tupla letters = ("a", "b", "c", "d"), verifica si la letra "e" está en la tupla e imprime un mensaje apropiado.

In [ ]:
letters = ("a", "b", "c", "d")
if "e" in letters:
  print("La letra 'e' esta en la tupla")
else:
  print("La letra 'e' no esta en la tupla")

La letra 'e' no esta en la tupla

9. Convierte la lista my_list = [100, 200, 300, 400] a una tupla e imprime la tupla resultante.

In [ ]:
my_list = [100, 200, 300, 400]
tuplaR = tuple(my_list)
print(my_list)

[100, 200, 300, 400]

10. Dada la tupla my_tuple = (5, 10, 15, 20, 25, 30, 35), imprime el valor en el índice 2 y una sub-tupla que contenga los elementos desde el índice 1 hasta el 4.

In [ ]:
my_tuple =(5, 10, 15, 20, 25, 30, 35)
print(my_tuple[2])
print(my_tuple[1:5])

15
(10, 15, 20, 25)